<?xml version="1.0" encoding="utf-8"?>
<!--
 ! Excerpted from "Hello, Android",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/eband3 for more book information.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.example.sudoku"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />
    <application android:icon="@drawable/prehistoric_florida_logo3_512"
          android:label="@string/app_name"
          android:debuggable="true">
        <activity android:name=".MODSApp"
              android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About"
              android:label="@string/about_title"
              android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".Prefs"
              android:label="@string/settings_title">
        </activity>
        <activity android:name=".PrehistoricAnimals"
              android:label="Florida's Prehistoric Animals">
        </activity>
        <activity android:name=".TriviaGame"
              android:label="A Trivia Game">
        </activity>
        <activity android:name=".SeaLevel"
              android:label="Sealevel Changes">
        </activity>
        <activity android:name=".Fossils"
              android:label="Paleontology and Fossils">
        </activity>
        <activity android:name=".animals.p_megatherium"
              android:label="Megatherium">
        </activity>
        <activity android:name=".animals.p_woolymammoth"
              android:label="Woolly Mammoth">
        </activity>
        <activity android:name=".animals.p_sabertoothedcat"
              android:label="Sabertooth Tiger">
        </activity>
        <activity android:name=".animals.p_phorusrhacidae"
              android:label="Phorushacidae">
        </activity>
        <activity android:name=".FossilsMoreInfo"
              android:label="More info about Paleontology and Fossils">
        </activity>
    </application>
</manifest>